@*@page "{handler?}/{id?}"*@
@page "{code?}"
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">

    <div class="row" style="justify-content: center">
        <div id="redirect-form-container" class="col-md-4">
            <partial name="_RedirectForm" model="Model?.redirectVM">
        </div>
    </div>

    <div style="margin: auto">
        <partial name="_RedirectsTable" model="Model?.redirectsTableVM">
    </div>
</div>