@page "{handler?}/{id?}"
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">

    <h4>Add Redirect</h4>
    <div class="row" style="justify-content: center">
        <div id="redirect-form-container" class="col-md-4">
            <partial name="_RedirectForm" model="Model?.redirect">
        </div>
    </div>

    <div style="margin: auto">
        <partial name="_RedirectsTable" model="Model?.redirects">
    </div>
</div>